.search-block-wrapper {
  padding-top: 24px;
  background: #f2f3f7;
}

input {
  width: 360px;
  height: 48px;
  border-radius: 3px;
  border: solid 1px #d9dbe3;
  padding: 8px 10px;
  margin-right: 8px;
  color: silver;
}
