<tag-input
  [(ngModel)]="authors"
  [displayBy]="'name'"
  [placeholder]="'Add a new author'"
  [separatorKeyCodes]="separatorKeysCodes"
  [addOnBlur]="'true'"
  [inputClass]="'chips-container'"
  [theme]="'custom-theme'"
  [identifyBy]="'id'"
  (onAdd)="add($event)"
  (onRemove)="remove($event)">
  <tag-input-dropdown
    [showDropdownIfEmpty]="true"
    [autocompleteItems]="authorsItems"
    [displayBy]="'name'"
    [identifyBy]="'id'">
  </tag-input-dropdown>
</tag-input>
<div
  *ngIf="!authors.length"
  class="validation">
  <small *ngIf="!authors.length">
    Must be at least one author.
  </small>
</div>
