header {
  padding: 10px 0;
  background: #414452;
  height: 120px;
}

.user-info {
  span {
    font-size: 1rem;
    line-height: 1.3;
    color: #fff;
  }

  span + span {
    margin-left: 10px;
  }
}
