<ng-container [formGroup]="dateForm">
  <label for="course-date">Date:</label>
  <input
    [value]="dateValue | date:'dd/MM/yyyy'"
    (change)="updateDate($event)"
    id="course-date"
    name="courseDate"
    placeholder="Course date"
    type="text"
    formControlName="courseDate"
  />
  <div
    *ngIf="dateForm.get('courseDate').invalid && dateForm.get('courseDate').touched"
    class="validation">
    <small *ngIf="dateForm.get('courseDate').errors.required">
      This field couldn't be empty
    </small>
  </div>
</ng-container>
