<!-- header -->
<app-header (open)="openLoginPopup($event)" [isAuth]="isAuth"></app-header>
<!-- login-page component -->
<app-login-page
  *ngIf="modal"
  (close)="closeLoginPopup($event)"
  (login)="getLogin($event)"
  [loginValue]="inputLoginValue"
></app-login-page>
<div class="wrapper">
  <div class="container content">
    <app-breadcrumbs *ngIf="isAuth"></app-breadcrumbs>

    <!-- content -->
    <!-- <app-course-page
    *ngIf="isAuth"
    ></app-course-page>
    <app-add-course-page
    [courseItem]="courseItem"
    ></app-add-course-page> -->

    <router-outlet></router-outlet>
  </div>
  <!-- footer -->
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
