<!-- header -->
<app-header (open)="openLoginPopup($event)" [isAuth]="isAuth"></app-header>
<!-- login-page component -->
<div class="wrapper">
  <app-loading *ngIf="isLoading; else mainBlock"></app-loading>
  <ng-template #mainBlock>
    <div class="container content">
      <app-breadcrumbs *ngIf="isAuth"></app-breadcrumbs>

      <!-- content -->
      <router-outlet></router-outlet>
    </div>
  </ng-template>
  <!-- footer -->
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
