<div class="course-item"
  app-style-border
  border-fresh="fresh"
  border-upcoming="upcoming"
  [courseItemFromParent]=courseItem
  [ngClass]="{'top-rated': courseItem.topRated }">
  <div class="course-item-info">
    <h4>{{ courseItem.title | uppercase }} #{{ courseItem.id }}</h4>
    <span class="duration">{{ courseItem.duration }} min</span>
    <span class="date">{{ courseItem.dateObj | date}}</span>
    <p>{{ courseItem.description }}</p>
  </div>
  <div class="course-item-buttons">
    <button class="secondary-btn">Edit</button>
    <button class="secondary-btn delete-btn" (click)="delete()">Delete</button>
  </div>
</div>

<!-- [ngClass]="{fresh: courseItem.dateObj < currentDate && courseItem.dateObj >= freshCourseDate, upcoming: courseItem.dateObj > currentDate }" -->
