.course-item {
  background: #fff;
  font-size: 16px;
  padding: 24px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
  display: flex;
  align-items: flex-end;
  border: 1px solid transparent;

  &.fresh {
    border-color: green;
  }

  &.upcoming {
    border-color: blue;
  }

  &.top-rated {
    background-color: #30b6dd;

    p, h4, span {
      color: #ffffff;
    }

    .secondary-btn {
      background-color: #fff;
      color: #30b6dd;
    }

    h4::after {
      content: '';
      border: 10px solid transparent;
      border-bottom: 10px solid #fff;
      display: inline-block;
      margin-left: 10px;
    }
  }

  h4 {
    margin: 0 0 20px;
    padding-right: 150px;
    color: #2c2f3c;
    font-size: 24px;
    line-height: 30px;
  }

  p {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    color: #525462;
  }

  &-info {
    flex: 80%;
    position: relative;

    span {
      font-size: 12px;
      color: #b9bdce;
    }
  }

  &-buttons {
    flex: 20%;
    text-align: right;
    padding-bottom: 26px;
  }

  button + button {
    margin-left: 10px;
  }

  .duration, .date {
    position: absolute;
    top: 0;
  }

  .duration {
    right: 120px;
  }

  .date {
    right: 0;
  }
}
