<div class="edit-course-wrapper">
  <h2 *ngIf="!isNewCourse; else pageTitle">Course update page:</h2>
  <ng-template #pageTitle>
    <h2>Add new course page:</h2>
  </ng-template>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="course-title">Title:</label>
      <input
      formControlName="courseName"
      id="course-title"
      name="courseTitle"
      placeholder="Video course"
      type="text"
      />
      <div
        *ngIf="form.get('courseName').invalid && form.get('courseName').touched"
        class="validation">
        <small *ngIf="form.get('courseName').errors.required">
          This field couldn't be empty
        </small>
        <small *ngIf="form.get('courseName').errors.maxlength">
          Max length of course name should be less then {{ form.get('courseName').errors.maxlength.requiredLength }} symbols
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="course-info">Description:</label>
      <textarea
      formControlName="description"
      id="course-info"
      name="courseInfo"
      name="textarea" rows="8" cols="80"
      placeholder="Course description"
      ></textarea>
      <div
        *ngIf="form.get('description').invalid && form.get('description').touched"
        class="validation">
        <small *ngIf="form.get('description').errors.required">
          This field couldn't be empty
        </small>
        <small *ngIf="form.get('description').errors.maxlength">
          Max length of course description should be less then {{ form.get('description').errors.maxlength.requiredLength }} symbols
        </small>
      </div>
    </div>
    <app-course-date
      formControlName="courseDate"
    ></app-course-date>
    <div class="form-group">
      <label for="course-duration">Duration:</label>
      <input
      formControlName="length"
      id="course-duration"
      name="courseDuration"
      placeholder="Course length"
      type="text"
      />
      <span>{{ courseItem.length | duration }}</span>
    </div>
    <div class="form-group" *ngIf="isNewCourse">
      <label for="course-id">Course id:</label>
      <input
      formControlName="courseId"
      id="course-id"
      name="courseId"
      placeholder="Course id"
      type="text"
      />
    </div>
    <div class="form-group">
      <button *ngIf="!isNewCourse" type="submit" class="btn primary-btn" [disabled]="form.invalid">Save course</button>
      <button *ngIf="isNewCourse" type="submit" class="btn primary-btn" [disabled]="form.invalid">Add course</button>
      <button type="button" class="btn secondary-btn" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
