.edit-course-wrapper {
  padding: 20px 0;
  width: 600px;

  h2 {
    margin: 0 0 30px;
  }
}

.form-group {
  .btn {
    float: none;
  }

  .btn + .btn {
    margin-left: 20px;
  }

  &:first-of-type {
    input {
      width: 100%;
    }
  }

  .name + label {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 30px;
  }

  .name {
    display: inline-block;
    margin-right: 10px;
    line-height: 30px;
    vertical-align: top;
  }
}

input[type="checkbox"] {
  width: 0;
  height: 0;
  opacity: 0;

  &:checked + .toggle {
    background-color: #30b6dd;
  }

  &:focus + .toggle {
    box-shadow: 0 0 1px #30b6dd;
  }

  &:checked + .toggle::before {
    transform: translateX(22px);
  }
}

.toggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 30px;
  transition: .4s;

  &::before {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 50%;
    transition: .4s;
  }
}
