<div class="edit-course-wrapper">
  <div class="form-group">
    <label for="course-title">Title:</label>
    <input
    id="course-title"
    placeholder="Video course"
    type="text"
    [(ngModel)]="courseItem.title"
    />
  </div>
  <div class="form-group">
    <label for="course-info">Description:</label>
    <textarea
    id="course-info"
    name="textarea" rows="8" cols="80"
    placeholder="Video course"
    [(ngModel)]="courseItem.description"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="course-date">Date:</label>
    <input
    id="course-date"
    placeholder="Course date"
    type="text"
    [(ngModel)]="courseItem.dateObj"
    />
  </div>
  <div class="form-group">
    <label for="course-duration">Duration:</label>
    <input
    id="course-duration"
    placeholder="Course date"
    type="text"
    [(ngModel)]="courseItem.duration"
    />
    <span>{{ courseItem.duration | duration }}</span>
  </div>
  <div class="form-group">
    <button type="button" class="btn primary-btn" (click)="onSave()">Save</button>
    <button type="button" class="btn secondary-btn" (click)="onCancel()">Cancel</button>
  </div>
</div>
