<div class="course-wrapper">
  <app-search-control
    (onValueChanged)="onValueChanged($event)"
    [inputValue]="inputValue">
  </app-search-control>
  <div class="add-course-wrapper">
    <button (click)="onItemAdd()" class="btn secondary-btn">Add course</button>
  </div>
  <div *ngIf="isShowCourse" class="no-date-info">No data.Feel free to add new course</div>
  <app-course-item
    *ngFor="let course of courseItems | sort:'dateObj' | filter:inputValue"
    [courseItem]="course"
    [counter]="counter"
    (onDeleteItem)="onItemDelete($event)">
  </app-course-item>
</div>
