/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}
html {
  min-height: 100%;
}

body {
  min-width: 900px;
  background: #f2f3f7;
}

.wrapper {
  display: flex;
	flex-direction: column;
	min-height: calc(100% - 120px);
}

.container {
  margin: 0 auto;
  max-width: 1220px;
}

.content {
  padding: 0 0 20px;
  flex: 1 0 auto;
  width: 100%;
}

.footer {
  margin: 0 auto;
  padding: 20px 0;
  background: #646464;
  height: 70px;
  width: 100%;
  flex: 0 0 auto;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.primary-btn {
  height: 48px;
  padding: 0 20px;
  margin: 0;
  font-family: 'SourceSansPro', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.13px;
  color: #fff;
  cursor: pointer;
  background-color: #9bc837;
  border: none;
  border-radius: 3px;
}

.secondary-btn {
  padding: 3px 12px;
  font-family: 'SourceSansPro', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.83;
  letter-spacing: -0.09px;
  color: #fff;
  cursor: pointer;
  background-color: #30b6dd;
  border: none;
  border-radius: 3px;
}

body {
  font-family: 'SourceSansPro', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #2c2f3c;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.form-group + .form-group {
  margin-top: 1rem;
}

input[type=text],
input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 6px 10px;
}

.clear::before {
    clear: both;
    display: table;
    content: " ";
}
.clear::after {
    clear: both;
    display: table;
    content: " ";
}
